<!DOCTYPE html>
<html>
<head>
	<title>HUMANIZE</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="static/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="static/responsive.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">	
</head>
<body style="font-family:roboto;height:auto; background-color: #FAF8F8" ng-app='MyApp' ng-controller='homeController' ng-cloak>
	<div class="nav-bar">
		<ul>
			<li><a class="nav-toggle-btn"><i class="fa fa-bars"></i></a></li>
			<li class="logo offset-xs-10 offset-sl-15 offset-m-16 offset-lg-16 offset-xl-15"><a href="http://humannize.com">HUMANIZE</a></li>
		</ul>
	</div>

	<nav class="side-nav">
		<ul>
			<li class="heading">Categories</li>
			<li id="all-categories"><a  href='#' ng-click='getContentByCategory("all")'>All Categories</a></li>
			<li id="achievers"><a ng-click='getContentByCategory("Achievers")'>Achievers</a></li>
			<li id="beautiful"><a ng-click='getContentByCategory("Beautiful")'>Beautiful</a></li>
			<li id="changemakers"><a ng-click='getContentByCategory("Changemakers")'>Changemakers</a></li>
			<li id="education"><a ng-click='getContentByCategory("Education")'>Education</a></li>
			<li id="empowerment"><a ng-click='getContentByCategory("Empowerment")'>Empowerment</a></li>
			<li id="environment"><a ng-click='getContentByCategory("Environment")'>Environment</a></li>
			<li id="governance"><a ng-click='getContentByCategory("Governance")'>Governance</a></li>
			<li id="health"><a ng-click='getContentByCategory("Health")'>Health</a></li>
			<li id="humanity"><a ng-click='getContentByCategory("Humanity")'>Humanity</a></li>
			<li id="inspiring"><a ng-click='getContentByCategory("Inspiring")'>Inspiring</a></li>
			<li id="law-and-justice"><a ng-click='getContentByCategory("Law and Justice")'>Law and Justice</a></li>
			<li id="real-heroes"><a ng-click='getContentByCategory("Real Heroes")'>Real Heroes</a></li>
			<li id="science-and-tech"><a ng-click='getContentByCategory("Science and Tech")'>Science and Tech</a></li>
			<li id="sports"><a ng-click='getContentByCategory("Sports")'>Sports</a></li>
		</ul>
	</nav>

	<div class="hide-l-and-down profile-panel">
		<div class="profile-card card">
				<img width="120" height="120" style="margin-left: 25px" src="static/profileImage.png">
		</div>

		<div class='card'>
		<ul>
			<li class="heading">Categories</li>
			<li id="all-categories"><a href='#' ng-click='getContentByCategory("all")'>All Categories</a></li>
			<li id="achievers"><a href='#' ng-click='getContentByCategory("Achievers")'>Achievers</a></li>
			<li id="beautiful"><a href='#' ng-click='getContentByCategory("Beautiful")'>Beautiful</a></li>
			<li id="changemakers"><a href='#' ng-click='getContentByCategory("Changemakers")'>Changemakers</a></li>
			<li id="education"><a href='#' ng-click='getContentByCategory("Education")'>Education</a></li>
			<li id="empowerment"><a href='#' ng-click='getContentByCategory("Empowerment")'>Empowerment</a></li>
			<li id="environment"><a href='#' ng-click='getContentByCategory("Environment")'>Environment</a></li>
			<li id="governance"><a href='#' ng-click='getContentByCategory("Governance")'>Governance</a></li>
			<li id="health"><a href='#' ng-click='getContentByCategory("Health")'>Health</a></li>
			<li id="humanity"><a href='#' ng-click='getContentByCategory("Humanity")'>Humanity</a></li>
			<li id="inspiring"><a href='#' ng-click='getContentByCategory("Inspiring")'>Inspiring</a></li>
			<li id="law-and-justice"><a href='#' ng-click='getContentByCategory("Law and Justice")'>Law and Justice</a></li>
			<li id="real-heroes"><a href='#' ng-click='getContentByCategory("Real Heroes")'>Real Heroes</a></li>
			<li id="science-and-tech"><a href='#' ng-click='getContentByCategory("Science and Tech")'>Science and Tech</a></li>
			<li id="sports"><a href='#' ng-click='getContentByCategory("Sports")'>Sports</a></li>
		</ul>
		</div>
	</div>

	<div class="row content">
		<div class="card download-bar col-xs-38 col-sl-26 col-m-18 col-lg-16 col-xl-14 offset-sl-7 offset-m-11 offset-lg-12 offset-xl-11 offset-xs-1">
			<div id='inner'>
				<a href="https://play.google.com/store/apps/details?id=com.humanize.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank">
					<img src="http://humannize.com/static/playstore.png" class="play-store-img">
				</a>
			</div>
		</div>
		
		<div class="card article-card col-xs-38 col-sl-26 col-m-18 col-lg-16 col-xl-14 offset-sl-7 offset-m-11 offset-lg-12 offset-xl-11 offset-xs-1" ng-repeat='post in posts'>
			<figure>
				<a ng-href="{{ post.url }}" target="_blank">
					<img ng-src="http://humannize.com:8080/humanize-1/images/{{post.imageId}}" alt="Awesome-dad-cover">
						
					</img>
				</a>
				<figcaption>
					<a href="#" ng-click='getContentByCategory(post.category)'>{{ post.category }}</a>
				</figcaption>
			</figure>

			<div class="title">
				<h4>{{ post.title }}</h4>
			</div>
			<div class="relate"><span style="margin-right:5px">{{ post.createdDate }}</span><span class="source">{{ post.source }}</span></div>
			<div class="description">
				{{ post.description }}
			</div>
		</div>

		<a href="#" ng-click='loadMore()' class="btn col-xs-14 col-sl-12 col-m-6 col-lg-6 col-xl-4 offset-xs-13 offset-sl-14 offset-m-17 offset-lg-17 offset-xl-16">Load more</a>
	</div>
	<div class="hide-l-and-down trending-panel" ng-controller='trendsController'>
		<div class="download-bar-sl card">
			Trending
		</div>
		<div class="trending-card card" ng-repeat='trend in trends'>
			<a ng-href="{{ trend.url }}" target="_blank">
				<img ng-src="http://humannize.com:8080/humanize-1/images/{{trend.imageId}}">
				<span style="font-size: 14px">{{ trend.title }}</span>
			</a>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="static/jquery.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="angular.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>