html,body {
    font-family: 'Roboto', GillSans, Calibri, Trebuchet, sans-serif;
    height: auto;
    width: 100%;
    margin: 0;
  	padding: 0;
  	overflow-x: hidden;
  	background-color: #FEFEFE;
 }

 .ng-cloak { 
 	display:none;
 }

*{
  	margin: 0;
  	padding: 0;
 }

div.row {
	min-height: 100%;
	padding-top: 100px;
	overflow-y: hidden;
	box-sizing: border-box;
	padding-bottom: 50px;
}

div.row: after {
	display: block;
}

.row-fixed-nav {
	padding-top: 100px !important;
}

.scroll-nav {
	position: fixed;
	top: 0;
	left: 0;
}

.download-bar {
	height: 60px;
	display: inline;
	color: white;
	background-color: #FFFFFF;
}

.download-bar .play-store-img {
	height: 60px;
	width: auto;
	display: block;
	margin: auto;
}

div.card-main {
	height: auto;
	padding-bottom: 0;
	box-sizing: border-box;
	position: relative;
	background-color: #FFFFFF;
}

.category {
	position: relative;
	left: 79%;
	bottom: 10%;
	display: inline-block;
}

.relate {
	padding: 2% 4% 2% 4%;
	margin-bottom: 5px;
}

.relate > .date {
	border-bottom: 2px solid #00BFA5;
}

.relate > .source {
	float: right;
}
.side-nav ul li a: hover{
	background-color: #D3D3D3;
}


.download-bar-sl {
	width: 100% !important;
	height: 60px !important;
	line-height: 60px;
	text-align: center;
	margin-right: 0 !important;
}

.trending-panel {
	position: fixed;
	top: 100px;
	left: 64%;
	width: 27.5%;
}

.profile-panel {
	position: fixed;
	top: 100px;
	left: 8.5%;
	width: 17.5%;
}

.profile-image {
	width: 15%;
}

.trending-card {
	width: 100% !important;
	margin-right: 0px !important;
	padding: 5px !important;
	box-sizing: border-box;
	margin-bottom: 5px !important;
}

.trending-card img {
	width: 22%;
	float: left;	
	margin-right: 2.5%;
}

.trending-card span {
	float: left;	
	width: 75%;
	text-align: justify;
}

#tabs {
	display: none;
	margin-top: 60px;
}

#tabs ul {
	border-bottom: 1px solid #00BFA5;
	height: 50px;
}

#tabs ul li {
	display: inline;
}

#tabs ul li a {
	display: inline-block;
	width: 49%;
	text-align: center;
	height: 100%;
	text-decoration: none;
}

footer {
	height: 142px;
	background: #D3D3D3;
	margin-top: 100px;
}

@media only screen and (max-width: 992px) {
	.show-m-and-down {
		display: block !important;
	}
}

@media only screen and (max-width:480px) {
	div.card {
		margin-bottom: 25px;
	}

	div.row {
		padding-top: 90px;
		padding-bottom: 40px;
	}

	.download-bar .header {
		margin-left: 15px;
	}

	.download-bar .play-store-img {
	}
}

@media only screen and (max-width: 768px) {
	.download-bar .header {
		margin-left: 10px;
	}
	.download-bar .play-store-img {
	}
}

.active { 
	background-color: grey; 
}

/*Card*/
div.card {
	width: auto;
	box-shadow: 0px 0px 1px #888888;
	-moz-box-shadow: 0px 0px 1px #888888;
	-webkit-box-shadow: 0px 0px 1px #888888;
	display: block;
	background-color: #FFFFFF;
	padding: 0;
	margin-bottom: 25px;
	word-wrap: break-word;
	overflow-x: hidden;
}

.card > .action {
	color: #00BFA5;
	width: 100%;
}
.card > .action > ul {
	list-style: none;
}

.card > .action > ul > li {
	border-right: 1px solid #00BFA5;
	border-top: 1px solid #00BFA5; 
	width: 33%;
	display: inline-block;
	text-align: center;
	height: 40px;
	float: left;
	padding-top: 15px;
}

.card > .action > ul > li > a {
	text-decoration: none;
}

/*Article card*/
		
div.article-card figure {
  	position: relative;
  	padding: 2%;
}

div.article-card figure img {
  display: block;
  /* removes trailing whitespace */
  width: 100%;
  height: auto;
  display: inline;
  cursor: pointer;
}

div.article-card > figure > figcaption {
	position: absolute;
	bottom: -.5%;
	right: 4%;
    display: inline;
	width: auto;
	margin: 0;
	color: white;
	text-transform: capitalize;
}

div.article-card > figure > figcaption > a {
	border: none;
	border-radius: 1px;
	color: white;
	background-color: #00BFA5;
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
	width: auto;
	text-align: center;
}

.card > .title {
	font-size: 15px;
	word-wrap: break-word;
	padding: 2% 4% 2% 4%;
	text-align: justify;
	font-weight: bold;
}

.card > .description {
	font-size: 15px;
	text-align: justify;	
	padding: 2% 4% 2% 4%;
}

/*Nav*/
div.nav-bar {
	width: 100%;
	box-shadow: 0px 3px 3px #D3D3D3;
	-moz-box-shadow: 0px 3px 3px #D3D3D3;
	-webkit-box-shadow: 0px 3px 3px #D3D3D3;
	padding: auto 2%;
	box-sizing: border-box;
	height: 60px;
	background-color: #1FA080;
	padding: 16px 20px;
	box-sizing: border-box;
	display: block !important;
	z-index: 2;
	position: fixed;	
}

a:hover {
	font-weight: bold;
}

div.nav-bar ul li a {
	text-decoration: none;
	color: white;
}

div.nav-bar > ul {
	list-style: none;
}

div.nav-bar > ul > li{ 
	display: inline !important;
}

div.nav-bar > ul > .title {
	color: white;
	font-size: 20px;
	line-height: 30px;
}

div.nav-bar > ul > .options {
	color: white;
	font-size: 16px;
	line-height: 30px;
}

.fa {
	color: white;
	margin-left: 2%;
}

@media only screen and (max-height: 500px) {
	nav.nav-bar > ul > .title {
		font-size: 15px;
	}
}

/*Button*/
.btn {
	border: none;
	padding: 10px;
	border-radius: 1px;
	font-size: 15px;
	text-align: center;
	display: block;
	margin-top: 5px;
	text-decoration: none;
	color: black;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	box-sizing: border-box;
}

@keyframes rise {
	100%{box-shadow: 4px 4px 20px #888;}
}

.btn:active {
	animation: rise 1s forwards;
}

/*Side nav bar*/
.side-nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	width: 15%;
	min-width: 250px;
	background-color: white;
	transform: translate3d(-100%,0,0);
	transition: transform 0.3s ease;
	box-shadow: 0px 3px 4px #888;
	-webkit-box-shadow: 0px 3px 4px #888;
	-moz-box-shadow: 0px 3px 4px #888;
}

.selected {
	background-color: #BBB7B7;
}

.active-nav .side-nav {
	transform: translate3d(0,0,0);
}

.side-nav ul {
	list-style: none;
	margin-top: 20px;
}

.side-nav ul li.heading {
	padding: 5px 0 5px 50px;
	font-size: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.side-nav ul li a {
	display: block;
	text-decoration: none;
	text-align: left;
	padding: 10px 0 10px 70px;
	color: #000000;
}

.card ul {
	list-style: none;
	margin-top: 15px;
}

.card ul li.heading {
	padding: 3px 0 3px 50px;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
}

.card ul li a {
	display: block;
	text-decoration: none;
	text-align: left;
	padding: 8px 0 8px 70px;
	color: #000000;
}

.nav-toggle-btn {
	display: inline-block;
	position: static;
	left: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

@media only screen and (max-width:480px) {
	.side-nav {
		width:75%;
		background-color:white;
		transform: translate3d(-100%,0,0);
		transition: transform 0.3s ease;
		overflow-y: scroll;
	}

	.active-nav .side-nav {
		transform: translate3d(0,0,0);
	}

	.nav-toggle-btn {
		display: inline-block;
		position: static;
		left: 10px;
		top: 10px;
		width: 40px;
		height: 40px;
		transform: translate3d(0,0,0);
		transition: transform 0.3s ease;
	}
}

/*Footer*/
.footer {
	position: relative;
	bottom: 0px;
	left: 0px;
	height: 20%;
	background-color: #00BFA5;
	margin-top: 4%;
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}